name: Check
on: push
jobs: 
  lint: 
    runs-on: ubuntu-latest
    steps: 
    
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install deps
      run: npm i
    
    - name: Lint
      run: npm run lint